<div class="main-container">
  <!-- Header -->
  <div class="header">
    <h2>EmergencyMS</h2>
    <div class="filters">
      <div class="filter-row">
        <label for="emergencyType">Тип:</label>
        <select id="emergencyType" (change)="onTypeChange($event)">
          <option value="0">Усі</option>
          <option *ngFor="let type of emergencyTypes" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>
      <div class="filter-row">
        <label for="emergencySubType">Підтип:</label>
        <select id="emergencySubType" (change)="onSubTypeChange($event)">
          <option value="0">Усі</option>
          <option *ngFor="let subtype of emergencySubTypes" [value]="subtype.id">{{ subtype.name }}</option>
        </select>
      </div>
    </div>

    <!-- Buttons -->
    <button class="analytics-button" (click)="goToAnalytics()">Аналітика</button>
    <div class="header-buttons">
      <button *ngIf="!isLoggedIn" class="login-button" (click)="navigateToLogin()">Увійти</button>
      <button *ngIf="isLoggedIn" class="dashboard-button" (click)="goToDashboard()">До панелі керування</button>
      <button *ngIf="isLoggedIn" class="logout-button" (click)="logout()">Вийти</button>
    </div>
  </div>

  <!-- Map Container -->
  <div class="map-container">
    <app-map [filteredType]="selectedType" [filteredSubType]="selectedSubType"></app-map>
  </div>
</div>