<div class="approve-emergencies-container">
  <h1>Непідтверджені надзвичайні ситуації</h1>
  <table class="emergencies-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Назва</th>
        <th>Опис</th>
        <th>Дата події</th>
        <th>Тип НС</th>
        <th>Підтип НС</th>
        <th>Тривалість ліквідації</th>
        <th>Координати</th>
        <th>Вулиця</th>
        <th>Джерело інформації</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emergency of unapprovedEmergencies">
        <td>{{ emergency.id }}</td>
        <td>{{ emergency.title }}</td>
        <td>{{ emergency.description }}</td>
        <td>{{ emergency.accidentDate | date: 'shortDate' }}</td>
        <td>{{ emergency.emergencyType }}</td>
        <td>{{ emergency.emergencySubType }}</td>
        <td>{{ emergency.duration }}</td>
        <td>{{ emergency.location.latitude }}, {{ emergency.location.longitude }}</td>
        <td>{{ emergency.street.streetName }}, {{emergency.street.houseNr}}</td>
        <td>{{emergency.source.name}} <a href="{{emergency.source.url}}" target="_blank">Посилання</a></td>
        <td>
          <button mat-icon-button (click)="editEmergency(emergency.id)" title="Редагувати">
            <span class="material-icons">edit</span>
          </button>
          <button mat-icon-button (click)="approveEmergency(emergency.id)" title="Підтвердити">
            <span class="material-icons">check</span>
          </button>
          <button mat-icon-button (click)="deleteEmergency(emergency.id)" title="Відхилити">
            <span class="material-icons">close</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>