.dashboard-layout {
  display: flex;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 15%;
  height: auto;
  background-color: #f8f9fa; /* Light gray background */
  padding: 2% 1%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-buttons {
  padding: 4vh 0;
  border-bottom: 1px solid #007bff;
}

.sidebar-btn, .back-button {
  display: block;
  width: 100%;
  padding: 4% 4%;
  margin-bottom: 2%;
  font-size: 1vw;
  font-weight: bold;
  color: #007bff;
  background-color: white;
  border: 1px solid #007bff;
  border-radius: 1em;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-buttons{
  width: 100%;
  margin: 10% 0;
}

.sidebar-buttons h3{
  text-align: center;
}

.sidebar-btn:hover {
  background-color: #007bff;
  color: white;
}

.main-content {
  flex: 1;
}