<div class="dashboard-layout">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="main-buttons" (click)="clearView()">
      <button routerLink="/main" class="back-button">
        На головну
      </button>
    </div>
    <div class="sidebar-buttons">
      <h3>Доступні дії:</h3>
      <button routerLink="/dashboard/emergency/create" class="sidebar-btn">
        Додати НС
      </button>
      <button routerLink="/dashboard/approveEmergency" class="sidebar-btn">
        Список НС на затвердження
      </button>
    </div>

    <!-- Add more sidebar buttons as needed -->
  </div>

  <!-- Main Content Area -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>